.projectCard::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	background: var(--glow);
	transform: scaleY(0);
	transform-origin: bottom;

	transition: transform 0.3s ease-in;
}
.projectCard:hover::before {
	transform: scaleY(1);
}
.projectCard {
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1rem;
	align-items: start;

	background: var(--card-bg);
	padding: 1.8rem 2rem;

	cursor: pointer;
	transition: background 0.2s;
}
.projectCard:hover {
	background: rgba(61, 51, 255, 0.1);
}


.title {
	font-family: 'Syne', sans-serif;
	font-size: 1.15rem;
	font-weight: 700;
	color: var(--accent);
	margin-bottom: 0.3rem;
}

.shortDesc {
	font-size: 0.85rem;
	color: var(--muted);
	margin-bottom: 0.8rem;
}

.longDesc {
	font-size: 0.82rem;
	color: var(--muted);
	line-height: 1.6;
	margin-bottom: 0.8rem;
	border-left: 2px solid var(--border);
	padding-left: 0.8rem;
}

.stackList {
	font-family: 'Space Mono', monospace;
	font-size: 0.65rem;
	color: var(--glow2);
	letter-spacing: 0.05em;

	background: var(--bg2);
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.projectDate {
	font-family: 'Space Mono', monospace;
	font-size: 0.65rem;
	color: var(--muted);
	opacity: 0.6;
	text-align: right;
	white-space: nowrap;
	margin-bottom: 0.5rem;
}

.arrow {
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 3px;

	color: var(--glow2);
	font-size: 1.1rem;
	text-align: right;
	opacity: 0;

	transition: all 0.2s;
}
.projectCard:hover .arrow {
	opacity: 1;
	transform: translateX(3px);
}
.arrow:hover {
	border-color: var(--glow2);
}
